$margin-bottom-fifty: 50px;
$margin-centered-horizontal: 0 auto;

$second-font-size: 11px;
$main-font-size: 12px;
$middle-font-size: 14px;
$large-font-size: 16px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-color: #f3f3f3;
$white-color: #fff;
$active-color: #00acdc;
$black-color: #000;

$width-logo: 40px;

$header-height: 60px;
