@import "variables";
@import "mixins";

.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: $header-height;
    align-items: center;
    column-gap: 20px;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    padding: 23px 0;

    color: $black-color;
    text-decoration: none;

    transition: color 1s;
  }

  &__link:hover {
    color: $active-color;
  }

  .is-active {
    position: relative;

    color: $active-color;
  }

  .is-active::after {
    content: "";
    @include absolute-LBR;

    display: block;
    height: 4px;

    background-color: $active-color;
    border-radius: 8px;
  }
}
