@import "variables";

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 48px;
  max-width: 1024px;
  justify-content: center;

  &__main {
    margin: 0 auto;
  }
}
